<table class="dns">
  <caption class="red bold">
    <br/>
    Add to DNS the next record and wait some minutes:
    <br/>
  </caption>
  <thead>
    <tr>
      <th>Type</th>
      <th>Hostname</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>TXT</td>
      <td><%= target.host %></td>
      <td><%= target.verification_token %></td>
    </tr>
  </tbody>
</table>
