<%= render 'layouts/app/title', text: 'My Urls' %>

<%= link_to 'Add new', new_target_path %>

<% if current_user.targets.any? %>

  <ol>
    <% current_user.targets.each do |target| %>
      <li><%= render target %></li>
    <% end %>
  </ol>

<% else %>

  <div class="any">
    <br/>
    Add first and start monitoring
  </div>

<% end %>
