.home {
  text-align: center;
  padding: 5em 1em;

  section.header {
    h1 {
      font-size: 2.6em;
      margin-bottom: 0;
    }
  }

  section.light {
    display: flex;
    justify-content: center;

    margin: 5em 1em;
    margin-bottom: 4em;

    a.color {
      display: inline-block;
      background-color: white;

      border: 3px solid #f3f2f2;

      margin: 0 .7em;
      padding: 2.5em 2em;

      .text {
        margin-top: 1.5em;
        font-size: 1.2em;
        font-weight: bold;

        .alert { color: #e05b41; }
      }

      text-decoration: none;
      &:hover { border-bottom: 4px dotted; }
    }
  }

  section.start {
    .free {
      margin-bottom: .5em;

      &::before {
        content: image_url('money.png');
        padding-right: .5em;
        vertical-align: text-top; // align icon and text by middle
      }
    }

    a {
      display: inline-block;
      color: #62baab;
      font-weight: bold;

      &:hover {
        border-bottom: 4px dotted;
        text-decoration: none;
      }

      // hack:
      // hide footer trimming

      padding-bottom: 4px;
      &:hover { padding-bottom: 0; }
    }
  }
}
