.home
section.light {
  margin: 5em 1em;
  margin-bottom: 4em;

  a.color {
    display: inline-block;
    background-color: white;

    border: 3px solid #f3f2f2;
    border-radius: .25em;

    margin: 0 .7em;
    padding: 2.5em 2em;

    .text {
      margin-top: 1.5em;
      font-size: 1.2em;
      font-weight: bold;

      color: black;
      .alert { color: $red; }
    }

    text-decoration: none;
    &:hover { border-bottom: 4px dotted; }
  }

  // flex

  display: flex;
  justify-content: center;
}
