.index {
  .wrapper { @include white-block; }

  .statuses {
    a {
      color: $green;
      font-weight: bold;
    }

    margin-bottom: 1em;
  }

  .selected {
    font-weight: bold;
    text-decoration: underline;
  }

  .ping {
    a {
      color: $sea-green;
      font-size: 90%;
      padding-left: .2em;
    }
  }

  .pagination { // gem 'kaminari'
    margin-top: 2em;
    .page { padding-right: .2em; }
    .current {
      color: $red;
      font-size: 120%;
      font-weight: bold;
      font-style: italic;
    }
  }
}
