.app__footer {
  height: 2em;

  a.email_us {
    color: #7cc4b7;
    border-bottom: 1px dotted; // increase space between text and underline line

    &:hover {
      text-decoration: none;
      color: green;
      font-weight: bold;
    }
  }

  // grid

  display: flex;
  align-items: center;
  justify-content: center;
}
