.app__footer {
  font-size: 80%;

  a.email_us {
    color: $light-sea-green;
    border-bottom: 1px dotted; // increase space between text and underline line

    &:hover {
      text-decoration: none;
      color: $dark-sea-green;
      font-weight: bold;
    }

  }

  // flex

  display: flex;
  align-items: center;
  justify-content: center;
}
