#app {
  @import "app__header";
  @import "app__footer";

  // grid

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6em 1fr 6em;

  .app__header { grid-column: 1/2; grid-row: 1; }
  .app__main   { grid-column: 1/2; grid-row: 2; }
  .app__footer { grid-column: 1/2; grid-row: 3; }

  .app__header > .wrapper,
  .app__main   > .wrapper,
  .app__footer > .wrapper {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 1em .5em;
  }

  .app__main { background-color: #f8f8f8; }
}
