#app {
  @import "app__header";
  @import "app__footer";

  // grid

  display: grid;
  grid-template-areas: "header" "main" "footer";

  .app__header > .wrapper,
  .app__main   > .wrapper,
  .app__footer > .wrapper { max-width: 960px; }

  .app__header > .wrapper,
  .app__main   > .wrapper,
  .app__footer > .wrapper { margin: 0 auto; }

  .app__header > .wrapper,
  .app__footer > .wrapper { height: 6em; }

  .app__main { background-color: #f8f8f8; }
}
