.index {
  a.add {
    color: $sea-green;
    font-weight: bold;
    @include dotted-underline(2px);
  }

  .target {
    @include white-block;
    padding: 1em;
    margin: 1.5em 0;

    .url { font-size: large; }
    .plan { font-size: 90%; }

    .status {
      margin: 1em 0;
      font-size: 90%;

      .name, .time, .link {
        display: inline-block;
        margin-right: 2em;
      }

      .name { a { font-weight: bold; } }
      .link { color: $sea-green; }
    }

    .links {
      a {
        display: inline-block;
        color: $medium-gray;
        font-size: 95%;

        margin-right: 0.5em;
        padding-left: 1.5em;
        padding-right: .5em;

        background-repeat: no-repeat;
        background-size: .85em;
        background-position: left 40%;
      }

      a.edit    { background-image: image-url("crud/edit.svg"); }
      a.destroy { background-image: image-url("crud/destroy.svg"); }
    }
  }
}
