<div class="container">

  <h1 class="row motto d-flex justify-content-center">
    <%= I18n.t('app.motto') %>
  </h1>


  <div class="row d-flex justify-content-center">
    image1<br/>
    image2<br/>
    image3<br/>
  </div>


  <div class="row d-flex justify-content-center">
    Free service with paid features
  </div>

</div>
