<section class="header">
  <h2><%= I18n.t('app.motto') %></h2>
  <div>Free service with paid features</div>
</section>

<section class="light">
  image1
  image2
  image3
</section>

<section class="getting_started">
  <div class="ad">
    Gsdfg fdg sdfg sdfg sdf gs dfg sdf gs dfg sdfg sdf g sdfg g ssdfsf.
  </div>

  <%= link_to "Getting started" %>
</section>
