<h2>
  Free service with paid features
</h2>

<%= link_to 'Sign Up', new_account_registration_path %>
<sup class="italic">its free</sup>

<br/>
<br/>
or
<br/>
<br/>

<%= link_to 'Sign In', new_account_session_path %>
