<h2>
  <%= tag.div I18n.t('app.motto').downcase, class: :motto %>
  Free service with paid features
</h2>

<%= link_to 'Sign Up', new_account_registration_path %>

<%= link_to 'Sign In', new_account_session_path %>
