<%= render 'title', text: 'Pings log', url: @target.url %>

<% if @pings.any? %>
  <div class="bold">Date / Duration / Response code:</div><br/>
  <% @pings.each do |ping| %>
    <%= render ping %>
  <% end %>
  <br/>
  <%= paginate @pings %>
<% else %>
  <p class="red italic">No pings (:</p>
<% end %>
