<nav class="navbar navbar-light w-100 bg-light d-flex justify-content-center">

  <span class="nav-text"><%=
                         app_name = APP::NAME.camelize

                         year1 = APP::SINCE
                         year2 = Time.zone.now.year
                         app_years = year1 == year2 ? year1.to_s : "#{year1}-#{year2}"

                         "&copy; «#{app_name}», #{app_years}. #{t '.copyright'}.".html_safe
                         %>

    <%= link_to t('.contact'), new_contact_path %>
  </span>

</nav>
