body {
  background: yellow;

  form {
    input { display: block;
            padding: .5em;
          }

    input[type=submit] { margin-top: 1em; }
  }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
