body {
  // background: yellow;

  form {
    input, textarea, select { padding: .5em; }
    .field_with_errors { display: inline; }
  }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  ul, ol {
    padding-left: 1em;
  }
}
