@mixin hide-outline {
  &:active, &:focus { outline: none; };
}

.bold   { font-style: bold; }
.italic { font-style: italic; }

.red    { color: $red; }
.yellow { color: $yellow; }
.green  { color: green; }
