body {
  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: underline;
    }

    @include hide-outline;
  }

  form { // gem 'devise'
    br { display: none; }

    #error_explanation {
      color: $red;
      ul { font-size: 90%; }

      margin-bottom: 1em;
    }
  }
}
