@include font-face("Comfortaa", "Comfortaa-Regular") {
  font-weight: normal;
  font-style: normal;
};

@include font-face("Comfortaa", "Comfortaa-Bold") {
  font-weight: bold;
  font-style: normal;
};
