<h1>
  <%= link_to root_path do %>
    <span class="name">
      <%= octicon :bell, height: 32 %>
      <%= APP::NAME.capitalize %>
    </span>
    <span class="moto"><%= APP::MOTO %></span>
  <% end %>
</h1>
