<ul id="error_explanation"> <%# "id link in gem 'devise' for styling" %>

  <% if flash[:alert].present? || flash.now[:alert].present? %>
    <li class="alert"><%= (flash[:alert] || flash.now[:alert]).squish.html_safe %></li>
  <% end %>

  <% resource&.errors&.full_messages&.each do |msg| %>
    <li><%= msg.html_safe %></li>
  <% end %>

</ul>
