<ul id="error_explanation"> <%# "id link in gem 'devise' for styling" %>

  <% if flash[:alert].present? || flash.now[:alert].present? %>
    <li class="alert"><%= (flash[:alert] || flash.now[:alert]).squish.html_safe %></li>
  <% end %>

  <% if flash[:notice].present? || flash.now[:notice].present? %>
    <li class="notice"><%= (flash[:notice] || flash.now[:notice]).squish.html_safe %></li>
  <% end %>

  <% resource&.errors&.details&.keys&.map do |attr| %>
    <li><%= resource.errors.full_messages_for(attr).first %></li>
  <% end %>

</ul>
