<h2><%= t('.title') %>:</h2>

<%= form_with url: reset_password_path do |f| %>
  <%# TODO = render 'shared/errors' %>

  <%= f.email_field :email, placeholder: 'Your email', title: 'Email', autofocus: true %>
  <%= f.submit 'Reset' %>
<% end %>
